<section id="fh5co-intro">
  <div style="margin-top: 10px" class="container">
    <div class="row row-bottom-padded-lg">
      <div class="fh5co-block to-animate">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-bulb"></i>
          <h2>Editar Petición (Posts)</h2>
          <p>
            Está petición se utiliza para actualizar / editar por completo un
            registro existente, es decir, es parecido a realizar un
            <strong style="color: blue">UPDATE</strong> a la base de datos.
          </p>
          <p>
            <a (click)="goToEditRequest()" class="btn btn-primary">Editar</a>
          </p>
        </div>
      </div>
      <div class="fh5co-block to-animate">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-wrench"></i>
          <h2>Eliminar Petición (Post)</h2>
          <p>
            Esta petición se utiliza para eliminar un registro existente, es
            similar a un <strong style="color: brown">DELETE</strong> a la base
            de datos.
          </p>
          <p>
            <a (click)="goToDeleteRequest()" class="btn btn-primary"
              >Eliminar</a
            >
          </p>
        </div>
      </div>
      <div class="fh5co-block to-animate">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-rocket"></i>
          <h2>Crear Petición (Post)</h2>
          <p>
            Está petición es utilizada para solicitar la creación de un nuevo
            registro, es decir, algo que no existía previamente. Esto es
            equivalente a realizar un
            <strong style="color: blue">INSERT</strong> en la base de datos.
          </p>
          <p>
            <a (click)="goToCreateRequest()" class="btn btn-primary">Crear</a>
          </p>
        </div>
      </div>
      <!--
      <div class="fh5co-block to-animate">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-bulb"></i>
          <h2>Listar Peticiones</h2>
          <p>
            Está petición es utilizada únicamente para consultar información al
            servidor ó BD, muy parecidos a realizar un
            <strong style="color: blue">SELECT</strong> a la base de datos.
          </p>
          <p>
            <a (click)="goToListRequest()" class="btn btn-primary">Listar </a>
          </p>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
