// _table.scss
body{background-color: cornflowerblue;}  

#info{ /* Ajusta este valor según sea necesario */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}
.posts-container {

  max-height: 400px; /* Ajusta este valor según sea necesario */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}
// Estilos básicos para la tabla
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  // Estilos para las celdas de la tabla
  .table-cell {
    padding: 10px;
    border: 1px solid cornflowerblue;
  }
  
  // Estilos para el encabezado de la tabla
  .table-header {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  // Estilos para las filas alternas (opcional)
  .table-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  // Estilos para resaltar una fila al pasar el ratón sobre ella (opcional)
  .table-row:hover {
    background-color: #e0e0e0;
  }

  .tableusers{
    font-size: 2.5rem; /* Tamaño de la fuente */
  color: #333; /* Color del texto */
  text-align: center; /* Centrado horizontal */
  margin-bottom: 20px; /* Espacio en la parte inferior */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  font-family: 'Roboto', sans-serif; /* Familia de fuente */
  /* Agrega sombra de texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* Agrega un borde inferior */
  border-bottom: 2px solid #666;
  }


/* Estilo base del input */
.custom-input {
  width: 300px;
  padding: 10px;
  border: 3px solid #3069b4;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

/* Estilos cuando el input está enfocado */
.custom-input {
  background-color: rgba(250, 251, 252, 0.904);
}

.posts-container {
  overflow-y: auto; /* O 'scroll' si quieres que siempre haya una barra de desplazamiento */
}

.post {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.post-header {
  margin-bottom: 10px;
  background-color: rgb(102, 100, 100);
}

.post-header h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.post-body p {
  font-size: 16px;
  line-height: 1.5;
  border-color: #3069b4;
}
h2{
  font-style: italic;
  color: brown;
}

h4{
  font-style: oblique;
}

p{
  font-style:normal;
}